<ion-view title="Club Details" hide-nav-bar="true" id="page19" style="background-color:#E9E9E9;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="item item-body " id="clubDetails-list-item-container6">
            <div class="">
                <img src="img/sxzGPUreQiiaG7qZkqwb_Fitmiss Logo.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h1 id="clubDetails-heading11" style="color:#585858;font-weight:400;text-align:center;" class=" ">Fitmiss</h1>
            <p id="clubDetails-markdown37" style="color:#292929;" class=" ">Fitmiss has the working woman in mind. Sweat and destress after a work day and make some friends while you're at it.</p>
            <div id="clubDetails-button-bar10" class=" button-bar "></div>
            <a ui-sref="exerConsol.profile" id="clubDetails-button9" class=" button button-assertive  button-block ">JOIN CLUB</a>
        </div>
    </ion-content>
</ion-view>