<ion-view title="Club List" id="page15" style="background-color:#E9E9E9;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <p id="clubList-markdown22" style="color:#6D6D6D;text-align:center;" class=" ">Need to find a new club Here are some awesome ones</p>
        <form id="clubList-form16" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="list card " id="clubList-card216">
            <ion-item class="item-divider " id="clubList-list-item-divider7">Top Picks</ion-item>
            <ion-item class="item-avatar item-icon-right balanced  " id="clubList-list-item55" ng-repeat = "(key, club) in clubs">
                <img src="img/XobsIIYRTdqVvDvmoJOh_Fitmiss Logo.png">
                <h2balanced>{{club.name}}
                    <p>Club motto / mission statement</p>
                    <i class="icon ion-checkmark-circled"></i>
                    <button ng-click = "request(key)">Join<button>
                </h2balanced>
            </ion-item>
        </div>
    </ion-content>
</ion-view>
