<ion-view title="Login" hide-nav-bar="true" id="page8" class=" ">
    <ion-content padding="true" style="background: url(img/xR6Vu15nTpWEOOKwOPmi_Login%2520Background%2520Screen%2520V2-17.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <form id="login-form2" class="list ">
            <div class="spacer" style="width: 300px; height: 313px;"></div>
            <label class="item item-input " id="login-input3" name="Email">
                <input type="text" placeholder="Email" ng-model = "email">
            </label>
            <label class="item item-input " id="login-input4">
                <input type="text" placeholder="Password" ng-model="password">
            </label>
        </form>
        <button id="login-button3" class=" button button-positive  button-block " ng-click = "loginUser(email, password)">Login</button>
        <button id="login-button3" class=" button button-positive  button-block ">New User?</button>

    </ion-content>
</ion-view>
