<ion-view title="Feed" hide-nav-bar="true" id="page12" style="background-color:#E9E9E9;" class=" ">
    <ion-content padding="true" style="background: url(img/7mehkf7nTPKMPDkKPg4N_light%2520background-23.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <p id="feed-markdown11" style="color:#6D6D6D;font-size:10px;text-align:center;" class=" ">Find out what's happening in the EXER community</p>
        <ion-list id="feed-list9" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item66" ui-sref="exerConsol.otherUserProfile">
                <img src="img/AdYqIQsTIeyxbcnwB7Wf_guy smirk.jpg">
                <h2>Mark Stanford</h2>
                <p style="white-space:normal;">Simply Swim Challenge</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item72" ui-sref="exerConsol.otherUserProfile">
                <img src="img/ss9H1QawS3mCJY3eDHyc_black woman smiling icon-26.png">
                <h2>Elise Brevit</h2>
                <p style="white-space:normal;">Completed Nestle 5K</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="list card " id="feed-card24">
            <div class="spacer" style="width: 300px; height: 7px;"></div>
            <div class=" item item-image">
                <img src="img/U4RoaV2CTbWgPNS41Sqp_colour run 2.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h1 id="feed-heading8" style="color:#3A3939;text-align:center;" class=" ">Colour Run</h1>
            <div class="item item-body " id="feed-list-item-container11">
                <p id="feed-markdown51" style="margin-top:0px;color:#000000;font-size:12px;" class=" ">The Color Run, the world’s first COLOR 5k™ event, was founded in March 2011 as an event to promote healthiness and happiness by bringing the community together to participate in the “Happiest 5k on the Planet”.</p>
            </div>
            <div id="feed-button-bar9" class=" button-bar "></div>
            <div id="feed-button-bar8" class=" button-bar "></div>
            <div class="item item-body " id="feed-list-item-container7">
                <button id="feed-button30" class=" button button-positive button-small button-block icon-left ion-social-facebook ">Share</button>
                <a ui-sref="exerConsol.eventInfo" id="feed-button31" class=" button button-energized button-small button-block icon-right ion-ios-arrow-right ">Make Booking</a>
            </div>
        </div>
        <ion-list id="feed-list10" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item69" ui-sref="exerConsol.otherUserProfile">
                <img src="img/DIMIZL54QeKvpL8nOkmr_guy laughing.jpg">
                <h2>Michael Donegan</h2>
                <p style="white-space:normal;">Finished the Exer 5 day Challenge</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <ion-list id="feed-list11" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item73" ui-sref="exerConsol.otherUserProfile">
                <img src="img/zLy3XGCiRkeoGTGSwqwl_fit black guy.jpg">
                <h2>Clarence Brant</h2>
                <p style="white-space:normal;">Nestle 5K</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <ion-list id="feed-list12" class=" ">
            <ion-item class="item-icon-left  " id="feed-list-item17" ui-sref="exerConsol.productDetails">
                <i class="icon ion-thumbsup"></i>This week's challenge complete</ion-item>
        </ion-list>
        <div class="spacer" style="width: 300px; height: 7px;"></div>
        <div class="list card " id="feed-card25">
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item23" ui-sref="exerConsol.otherUserProfile">
                <img src="img/MoEa4fHS3qkVQdoLkuXQ_Indian man smiling-26.png">
                <h2>Jeremy Drayton</h2>
                <p>Gains Fitness Group</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <div class=" item item-image">
                <img src="img/HfXdVR0kQ7aDpkfL1gjz_woman doing squats.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
            <p id="feed-markdown13" style="color:#000000;" class=" ">Working hard Stacey! Keep it up. We're really proud of you...maybe a little jealous...hahaha</p>
            <div class="spacer" style="width: 300px; height: 24px;"></div>
        </div>
        <ion-list id="feed-list13" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item65">
                <img src="img/arBvu0IhRvWXxlaVBTGr_pretty girl.jpg">
                <h2>Belinda Kruik</h2>
                <p style="white-space:normal;">Spartan Areobics Challenge</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <button id="feed-button48" style="font-weight:600;" class=" button button-positive  button-block icon-left ion-social-facebook ">Share for +50 CRG</button>
        <ion-list id="feed-list8" class=" ">
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item64" ui-sref="exerConsol.otherUserProfile">
                <img src="img/ss9H1QawS3mCJY3eDHyc_black woman smiling icon-26.png">
                <h2>Elise Brevit</h2>
                <p style="white-space:normal;">Finished the Exer 5 day Challenge</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item67" ui-sref="exerConsol.otherUserProfile">
                <img src="img/zLy3XGCiRkeoGTGSwqwl_fit black guy.jpg">
                <h2>Clarence Brant</h2>
                <p style="white-space:normal;">Finished the Rock Climbing Challenge</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
            <ion-item class="item-avatar item-icon-right  " id="feed-list-item68" ui-sref="exerConsol.otherUserProfile">
                <img src="img/jfRzd4phSgGLxQ4rl1rC_chinese guy.jpg">
                <h2>Amos Aping</h2>
                <p style="white-space:normal;">Finished the Exer 5 day Challenge</p>
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>