<ion-view view-title="Account">
  <ion-content>
    <form name = "userForm" novalidate ng-hide = "oldUser">
      <ion-list>
        <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" name = "username" ng-model = "username">
        </label>
        <label class = "item item-input">
          <span class = "input-label">Email Address</span>
          <input type = "email" name = "email" ng-model = "email" ng-minlength = "5" required>
        </label>
        <label class = "item item-input">
          <span class = "input-label">Password</span>
          <input type = "password" name = "password" ng-model = "password" ng-minlength = "6" required>
        </label>
        <label>
          <span> Select user type</span>
          <ion-radio name = "userRole" ng-model = "userRole" ng-value = "'player'">Player</ion-radio>
          <ion-radio name = "userRole" ng-model = "userRole" ng-value = "'validator'">Validator</ion-radio>
        </label>
        <div class = "padding">
          <p ng-show = "userForm.email.$error.required">* Email is reqiured</p>
          <p ng-show = "userForm.email.$error.invalid && !userForm.username.$pristine">* Email is reqiured</p>
          <p ng-show = "userForm.email.$error.minlength">* Email must be longer than 5 characters</p>
          <p ng-show = "userForm.password.$error.required"> * Password must be longer than 6 character</p>
          <p ng-show = "userForm.password.$error.minlength"> * Password must be longer than 6 character</p>
        </div>


        <button class = "button" ng-disabled = "userForm.$invalid" ng-click = "createUser(email, password, userRole, username)">New Account</button>
      </ion-list>

    </form>
    <form name = "loginForm" novalidate ng-hide = "loggedIn">
      <ion-list>
          <label class="item item-input">
            <span>email</span>
            <input type = "email" name = "email" ng-model = "email" required>
          </label>
          <label class="item item-input">
            <span>password</span>
            <input type = "password" name = "password" ng-model = "password" required>
          </label>

          <button class = "button" ng-disabled = "userForm.$invalid" ng-click = "loginUser(email, password)">Log In</button>
      </ion-list>

      <a ng-click = "switch()">Register Here</a>
    </form>
    <button class = "button" ng-show = "loggedIn" ng-click = "logoutUser()">Log out</button>

  </ion-content>
</ion-view>
