<ion-view title="tab-dash" hide-nav-bar="true" id="page3" style="background-color:#E9E9E9;" class=" ">
    <ion-content padding="true" style="background: url(img/ScdBaZz1RwWLoH1tWGXy_light%2520background-23.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="list card padding" id="checkInMyEvents-card27">
            <a ui-sref="createEvent" id="profile-button41" class=" button button-calm  button-block " ng-hide = "player">Create Event</a>
            <p id="checkInMyEvents-markdown35" style="color:#B4DB83;text-align:center;" class=" ">
                <strong>Today!</strong>
            </p>
            <ion-item class="item-avatar item-icon-right  " id="checkInMyEvents-list-item1" ng-repeat = "(key, event) in events">
                <img src="img/Y8JIM7RRPinzdZaTZP4v_Courare Icon-19.png">
                <h2>{{event.title}}</h2>
                <p>{{event.location.name}}</p>
                <p>Courage Value : {{event.points}}</p>
                <qrcode data = "{{key}}"></qrcode>
                <i class="icon ion-information-circled icon-accessory"></i>
                <a id="checkInMyEvents-button4" class=" button button-positive  button-block " ng-click = "validateEvent(key, latLng)">Check In</a>
                <a id="checkInMyEvents-button4" class=" button button-positive  button-block " ng-disabled = "subscribedEvents.hasOwnProperty(key)" ng-click = "subscribe(key)">subscribe</a>
            </ion-item>

        </div>
        <div class="list card padding" id="checkInMyEvents-card29">
            <p id="checkInMyEvents-markdown36" style="color:#949494;text-align:center;" class=" ">
                <strong>Completed</strong>
            </p>
            <div class=" item item-image">
                <img src="img/rGhgNstlQZGrPhk28fmd_Google map placeholder.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <ion-item class="item-avatar item-icon-right  " id="checkInMyEvents-list-item37" ui-sref="exerConsol.eventInfo">
                <img src="img/Bvyxy4JBSyqMNHMhF7Tz_Courare Icon-19.png">
                <h2>Sweatomatic</h2>
                <p>Courage Value</p>
                <i class="icon ion-information-circled icon-accessory"></i>
            </ion-item>
            <a ui-sref="exerConsol.scanQR" id="checkInMyEvents-button38" class=" button button-dark  button-block button-clear ">Checked In</a>
            <button id="checkInMyEvents-button49" style="font-weight:600;" class=" button button-positive  button-block icon-left ion-social-facebook ">+50 CRG</button>
        </div>
        <div id="checkInMyEvents-button-bar1" class=" button-bar "></div>
    </ion-content>
</ion-view>
