<ion-view title="Profile" hide-nav-bar="true" id="page6" style="background-color:#E9E9E9;" class=" ">
    <ion-content padding="true" style="background: url(img/ELdAIqv9SQa7JKMSMm7M_light%2520background-23.png) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
        <div class="list card " id="profile-card26">
            <div class=" item item-image">
                <img src="img/N11tKt9R6icaIx79180w_Smiling-woman.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h1 id="profile-heading9" style="color:#000000;text-align:center;" class=" ">Jesse Windle</h1>
            <a ui-sref="exerConsol.clubList" id="profile-button41" class=" button button-calm  button-block ">Join Club</a>
            <ion-item class="item-thumbnail-left  " id="profile-list-item33">
                <img src="img/tZIBtATt666rw1qcyQQ2_Courare Icon-19.png">
                <h2>Your Courage</h2>
                <p>Courage Value</p>
            </ion-item>
        </div>
        <div class="list card " id="profile-card213">
            <div class=" item item-image">
                <img src="img/N11tKt9R6icaIx79180w_Smiling-woman.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <h1 id="profile-heading18" style="color:#000000;text-align:center;" class=" ">Jesse Windle</h1>
            <a ui-sref="exerConsol.clubList" id="profile-button43" style="color:#5D5D5D;" class=" button button-calm  button-block button-clear icon-right ion-edit ">CLUB NAME</a>
            <ion-item class="item-thumbnail-left  " id="profile-list-item41">
                <img src="img/tZIBtATt666rw1qcyQQ2_Courare Icon-19.png">
                <h2>Your Courage</h2>
                <p>Courage Value</p>
            </ion-item>
        </div>
    </ion-content>
</ion-view>