<ion-view view-title="Account">
  <ion-content class ="has-header">
    <div class = "card padding">
      <h1>{{user.displayName}}</h1>

      <p>Role: {{userData.userRole}}</p>
      <p>Points: {{userData.points}}</p>

      <p>{{user.score}}</p>
      <p>Email Address: {{user.email}}</p>

    </div>
    
    <form name = "newClub">
        <ion-list>
            <label class="item item-input">
              <span class="input-label">Club name:</span>
              <input type="text" name = "clubName" ng-model = "clubName">
            </label>
            <label class="item item-input">
              <span class="input-label">Location</span>
              <input type="text" name = "clubLocation" ng-model = "clubLocation">
            </label>
          <button class ="button button-positive" ng-click = "createClub(clubName, clubLocation)">Create Club</button>
        </ion-list>
    </form>
    <ion-list>

    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <button class = "button" ng-click = "logoutUser()">Log out</button>
    <ion-item ng-repeat = "event in events">
      <h3>{{event.title}}</h3>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
