<ion-view title="Store"  id="page10" style="background-color:#E9E9E9;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <ion-list id="store-list17" class=" ">
            <ion-item class="item-icon-left item-icon-right  " id="store-list-item91" ui-sref="exerConsol.cart">
                <i class="icon ion-ios-cart"></i>Cart
                <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <p id="store-markdown10" style="color:#6D6D6D;font-size:9px;text-align:center;" class=" ">You've worked hard now it's time to use that courage to get some stuff.</p>
        <form id="store-form10" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="">
            </label>
        </form>
        <div class="list card " id="store-card22">
            <ion-item class="item-thumbnail-left  " id="store-list-item12" ui-sref="exerConsol.productDetails">
                <img src="img/phRfFxOSRImT3v1blG8X_Woman Tights-25.png">
                <h2>Fitness Tights</h2>
                <p>For those awesome runs.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="store-list-item14" ui-sref="exerConsol.productDetails">
                <img src="img/LXA7w0QTRP2WPBNESc5t_nike shoes.jpg">
                <h2>Nike Running Shoes</h2>
                <p>You'll be happy you got them</p>
            </ion-item>
            <ion-item class="item-thumbnail-left  " id="store-list-item15" ui-sref="exerConsol.productDetails">
                <img src="img/4hCCInzASj6Rp1VJtTH9_samsung smartwatch.jpg">
                <h2>Fitness Tights</h2>
                <p>Keep track of your workouts.</p>
            </ion-item>
        </div>
        <button id="store-button44" style="font-weight:600;" class=" button button-positive  button-block icon-left ion-social-facebook ">+50 CRG</button>
        <div class="spacer" style="width: 300px; height: 62px;"></div>
    </ion-content>
</ion-view>
