<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class = "card padding">
      <h2>New Event</h2>
      <form name = "eventForm" ng-show = "newEvent" >
        <label class = "item item-input">
          <span class = "input-label">Event title</span>
          <input type = "text" name = "eventTitle" ng-model = "eventTitle" required>
        </label>
        <label class = "item item-input">
          <span class = "input-label">location name</span>
          <input type = "text" name = "eventLocation" ng-model = "eventLocation" required>
        </label>
        <label class = "item item-input">
          <span class = "input-label">Points</span>
          <input type = "number" name = "eventPoints" ng-model = "eventPoints" required>
        </label>
      </form>
      <div class = "padding">
        <h3>Location</h3>
        <p>Latitude: {{currentPosition.coords.latitude}}</p>
        <p>Longitude: {{currentPosition.coords.longitude}}</p>
        <div id = "map">

        </div>
      </div>
      <button class ="button button-positive" ng-click = "createEvent(eventTitle, eventLocation, currentPosition, eventPoints)">Create event</button>
    </div>

    <!-- show list of events -->
    <ion-list>
      <ion-item class = "item-text-wrap" ng-repeat = "(key, event) in events">
        <div>
          <h1>{{event.title}}</h1>
          <p>{{event.location.name}}</p>
          <p >Id: {{key}}</p>
          <button class = "button button-small button-positive" ng-disabled = "subscribedEvents.hasOwnProperty(key)" ng-click = "subscribe(key)">subscribe</button>
          <!--Show if key is in subscribedEvents -->
          <i class = "icon ion-checkmark positive" ng-show = "subscribedEvents.hasOwnProperty(key)"></i>
          <button class = "button button-small button-balanced" ng-disabled = "subscribedEvents[key].validated == true" ng-click = "validateEvent(key, currentPosition)">validate</button>

          <i class = "icon ion-checkmark balanced" ng-show = "subscribedEvents[key].validated == true"></i>
          <div class = "padding">
            <h2>Validation code</h2>

            <qrcode data = "{{key}}"></qrcode>
          </div>

        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
